body {
	background-color: white;

}

.header {
	width: auto;
	height: auto;
}

.topnav {
 	overflow: hidden;
	background-color: red;
}

.topnav a {
 	float: left;
	display: block;
 	color: white;
	font-family: roboto;
 	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width: auto;
}

.topnav a:hover {
 	background-color: white;
	color: red;
}

.footer{
	color: white;
	font-family: roboto;
	background-color: red;
	text-align: center;

}